# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
#from api_keys import g_key
g_key="AIzaSyBjOBUd1lPQBRN9YP_UQ365nMmaXKszYWo"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Load output data from Weather 
weather_data = pd.read_csv("../output_data/cities.csv")
weather_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,geraldton,-28.77,114.60,53.60,76,40,8.05,AU,1591986205
1,hambantota,6.12,81.12,80.60,100,0,5.82,LK,1591986205
2,havre-saint-pierre,50.23,-63.60,69.80,46,1,9.17,CA,1591986205
3,fairbanks,64.84,-147.72,60.80,71,90,1.57,US,1591986033
4,rikitea,-23.12,-134.97,75.18,80,20,19.64,PF,1591986205
...,...,...,...,...,...,...,...,...,...
550,linares,-35.85,-71.60,53.91,73,61,5.70,CL,1591986231
551,yaan,7.38,8.57,80.22,75,89,3.06,NG,1591986231
552,almaznyy,48.04,40.05,78.80,50,20,8.95,RU,1591986232
553,salalah,17.02,54.09,86.00,84,75,5.82,OM,1591986232
554,ulagan,50.63,87.96,50.65,61,11,1.21,RU,1591986232

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

In [4]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, point_radius=4)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
# Narrow down the cities based on the following conditions:

# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness

narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)]

narrowed_city_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
45,darnah,32.77,22.64,73.62,54,0,4.83,LY,1591982094
135,malanje,-9.54,16.34,72.12,35,0,4.14,AO,1591982099
214,matara,5.95,80.54,79.56,87,0,9.53,LK,1591981733
365,quetta,30.20,67.01,73.80,17,0,3.06,PK,1591982115
386,luanda,-8.84,13.23,77.00,65,0,8.05,AO,1591981605
395,sokur,55.21,83.32,71.60,64,0,6.71,RU,1591982117
447,svetlogorsk,52.63,29.73,76.87,79,0,9.42,BY,1591981732
555,chopinzinho,-25.86,-52.52,77.11,64,0,8.55,BR,1591982126

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
# Create a df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column or series to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

            City Country    Lat    Lng Hotel Name
45        darnah      LY  32.77  22.64
135      malanje      AO  -9.54  16.34
214       matara      LK   5.95  80.54
365       quetta      PK  30.20  67.01
386       luanda      AO  -8.84  13.23
395        sokur      RU  55.21  83.32
447  svetlogorsk      BY  52.63  29.73
555  chopinzinho      BR -25.86 -52.52

In [12]:
#creating base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [13]:
#looping 
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # exception handling
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 45: darnah.
Closest hotel in darnah is فندق الفردوس.
------------
Retrieving Results for Index 135: malanje.
Closest hotel in malanje is Palanca Hotel.
------------
Retrieving Results for Index 214: matara.
Closest hotel in matara is ParrotFish Bay.
------------
Retrieving Results for Index 365: quetta.
Closest hotel in quetta is Serena Hotel Quetta.
------------
Retrieving Results for Index 386: luanda.
Closest hotel in luanda is Diamante Hotel.
------------
Retrieving Results for Index 395: sokur.
Missing field/result... skipping.
------------
Retrieving Results for Index 447: svetlogorsk.
Closest hotel in svetlogorsk is Hotel Svetlogorsk JBIK.
------------
Retrieving Results for Index 555: chopinzinho.
Closest hotel in chopinzinho is Hotel 2 Coqueiros.
------------
-------End of Search-------

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))